-var title = 'Form elements'
include ../template.pug
-
  var checkboxGroupItems = [{text: 'Можно курить', name:'smoke'},
  {text: 'Можно с питомцами', name:'pets'},
  {text: 'Можно пригласить гостей (до 10 человек)', name:'guests'},]


+text-input('text', 'name', 'Your name')
+checkbox-group('Checkbox Buttons', checkboxGroupItems)
+radio()
+bullet-list('Правила', ['Нельзя с питомцами',
  'Без вечеринок и мероприятий', 
  'Время прибытия — после 13:00, \n а выезд до 12:00'])
+btn()
