mixin checkbox-group(header='Checkbox group', items=[{text:'checkbox', name:'name'}])
  .checkbox-group 
    h3.checkbox-group__header= header 
    each item in items
      +checkbox(item.text, item.name)
