mixin checkbox-group(title='Checkbox group', items=[{text:'checkbox', name:'name'}])
  .checkbox-group 
    h3.checkbox-group__title= title 
    each item in items
      +checkbox(item.text, item.name)
