.btn {
  min-width: rs(99);
  height: rs(44);
  border-radius: rs(22);
  padding: 0 rs(20);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  text-transform: uppercase;

  &_normal {
    color: white;
    background: $primary-gradient;
  }
  &_normal_disabled {
    color: white;
    background: $primary-gradient;
    opacity: 50%;
  }
}
