.btn {
  min-width: rs(99);
  height: rs(44);
  border-radius: rs(22);
  padding: 0 rs(20);
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;

  &_normal {
    color: $white;
    background: $primary-gradient;
    &:disabled {
      color: white;
      background: $primary-gradient;
      opacity: 50%;
    }
    &:hover {
      background: $purple;
    }
  }
  &_border {
    border: 2px solid $purple;
    color: $purple;
    background: transparent;
    &:disabled {
      color: white;
      background: $primary-gradient;
      opacity: 50%;
    }
    &:hover {
      color: darken($purple, 10%);
    }
  }
}
