// COLORS
$dark_shade_100: #1f2041;
$dark_shade_75: rgba(31, 32, 65, 0.75);
$dark_shade_50: rgba(31, 32, 65, 0.5);
$dark_shade_25: rgba(31, 32, 65, 0.25);
$dark_shade_5: rgba(31, 32, 65, 0.05);
$purple: #bc9cff;
$green: #6fcf97;
$white: white;
$primary-gradient: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$darken-gradient: linear-gradient(180deg, #ae87ff 0%, #7895f8 100%);

// SIZES

$container_width: 1160px;
