@import "_nullstyle";
@import "_variables";
@import "_fonts";
@import "_mixins";
@import "_ui-kit";
@import "../blocks/blocks.scss";

body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $dark_shade_75;
}
h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: $dark_shade_100;
}
h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  color: $dark_shade_100;
}
h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $dark_shade_100;
}
