//- Все примеси в этом файле должны начинаться c имени блока (expandable-checkbox)

mixin expandable-checkbox(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +expandable-checkbox('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' expandable-checkbox--' + modsList[i].trim();
      }
    }

  .expandable-checkbox(class=allMods)&attributes(attributes)
    .expandable-checkbox__inner
      block
