//- Все примеси в этом файле должны начинаться c имени блока (subscription-input)

mixin subscription-input(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +subscription-input('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' subscription-input--' + modsList[i].trim();
      }
    }

  .subscription-input(class=allMods)&attributes(attributes)
    .subscription-input__inner
      block
