mixin guests-dropdown(header='гости')
  .guests-dropdown 
    h3.guests-dropdown__header= header
    .guests-dropdown__body 
      .guests-dropdown__btn Сколько гостей
      .guests-dropdown__expand 
        ul 
          li Adult
          li Kids
          li Babys
