.text-input {
  width: rs(320);
  height: rs(44);
  border: 1px solid $dark_shade_25;
  border-radius: rs(4);
  color: $dark_shade_25;
  padding-left: rs(15);
  &::placeholder {
    color: $dark_shade_25;
  }
  &:hover,
  &:focus {
    border: 1px solid $dark_shade_50;
    color: $dark_shade_75;
  }
}
