mixin header(mod='unsubscribed') 
  div(class=`header header_${mod}`)
    +logo()
    nav.header__menu 
      a.header__menu-item(href="#") О нас
      a.header__menu-item(href="#") Услуги
      a.header__menu-item(href="#") Вакансии
      a.header__menu-item(href="#") Новости
      a.header__menu-item(href="#") Соглашение



    .header__buttons 
      +btn('Войти')
      +btn('Зарегистрироваться', 'normal_disabled')
    .header__user

