mixin header(mod='unsubscribed') 
  div(class=`header header_${mod} container`)
    +logo()
    .header__menu
      nav.header__nav 
        a.header__nav-item(href="#") О нас
        a.header__nav-item(href="#") Услуги
        a.header__nav-item(href="#") Вакансии
        a.header__nav-item(href="#") Новости
        a.header__nav-item(href="#") Соглашение

      .header__buttons 
        +btn('Войти','border')
        +btn('Зарегистрироваться')
      .header__user

